
/**
 * Styles for component CounterComments
 */

.component.counter-comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  position: relative;
  top: 3px;
  font-weight: 300;
}

.component.counter-comments.positive .icon {
  color: #f39c12 !important;
}

.component.counter-comments.positive .count {
  color: #f39c12 !important;
}

.component.counter-comments .icon {
  color: #bfbfbf !important;
}

.component.counter-comments .count {
  margin: 0 2px 0 0;
  font-size: 16px;
  color: #bfbfbf;
}

.component.counter-comments .icon {
  position: relative;
  bottom: 2px;
  color: #d5d6d2;
}
